.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.body{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}